header{
    background-color: black;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

.logo_s{
    width: 60px;
} 

/* Prima section Returnal */
.returnal{
    background-image: url("../images/returnal-listing-thumb-01-ps5.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.logo_rtr{
    width: 200px;
}

.w_100{
    width: 100%;
    height: 100%;
}

/* Quarta section accessori Playstation */

.adad{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.acc_flex{
    width: calc((100% / 5) - 5px);
}

/* Sesta section It Takes Two */

.returnal{
    background-image: url("../images/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.logo_itt{
    width: 200px;
}

