header{
    background-color: black;
    height: 30px;
    display: flex;
    justify-content: flex-end;
}

.logo_s{
    width: 60px;
} 

/* Prima section Returnal */
.returnal{
    background-image: url("../images/jumbo-bg.png");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.logo_rtr{
    width: 200px;
}

.w_100{
    width: 100%;
    height: 100%;
}

/* Quinta section accessori Playstation */

/* .flex_quattro{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}  */

.acs_flex{
    width: calc((100% / 5) - 5px);
}

 @media only screen and (max-width: 768px) {
    .acs_flex{
        width: calc((100% / 3) - 5px);
    }
  } 

/* Sesta section It Takes Two */

.it_takestwo{
    background-image: url("../images/it-takes-two-hero-banner-desktop.jpg");
    background-size: cover;
    background-position: center;
    height: 500px;
}

.logo_itt{
    width: 200px;
}

/* Nona section Abe */

.abe{
    background-image: url("../images/ps-plus-april-monthly-games-featured-image-block.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 500px;
}

.logo_psplus{
    width: 250px;
}

/* Undicesima section Avengers */

.avengers{
    background-image: url("../images/ps-now-april-featured-image-block.png");
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: 500px;
}

.logo_psnow{
    width: 250px;
}

/* Ultima section footer */

.globe{
    width: 15px;
}




